* {
  font-family: 'Quicksand', sans-serif; 
}
.quad {
	background: linear-gradient(rgba(13, 52, 127, 0.85), rgba(13, 52, 127, 0.85)), url('../img/background.jpg');
	background-size: 1450px 821px;
	height:560px;
	color:white;
}
.navbar-default .navbar-brand {
color: white;
}
.navbar-default {
	background-color: transparent;
	border: 0px solid white;
}
.navbar-default .navbar-text {
color: white;
}
.navbar .nav li a{
	color:white;
}
.navbar .container a:hover {
	background-color: transparent;
}
.navbar-brand {
	color:white;
	line-height: 50px;
}
.navbar-toggle {
	border: 1px solid #fdbc25;
	background-color: #fdbc25;
}
.wrd {
    padding-top: 5px !important;
}
li {
    text-align: center;
}
.pushleft {
	padding-left:30px;
}
.align {
	line-height: 50px;
	padding-right: 15px;
	margin-left:0px;
}
.align2 {
	line-height: 10px;
}
.valign {
	margin-top:14px;
	padding-left:90px;
	padding-right: 0px;
}
.valign2 {
	margin-top:25px;
}
.signupalign {
	position:relative;
	top:-10px;
	color: #d33920;
	font-weight:bold;
}
.navbar-default .navbar-toggle {
	border-color: #fdbc25;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #fdbc25;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: white;
}
.search-button {
	width: 216px;
	height: 40px;
	background-color: #20609a;
	color: white;
	border: 0px solid #20609a;
	border-radius: 5px 0px 0px 5px;
	line-height: 10px;
	padding: 5px; }
.arrow {
	width: 0;
	height: 0;
	border-bottom: 20px solid transparent;
	/* left arrow slant */
	border-top: 20px solid transparent;
	/* right arrow slant */
	border-left: 20px solid #20609a;
	/* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	position: relative;
	bottom: 4px;
	left: 6px;
}
.btn:hover {
	color:white;
}
.yellow {
	color: #fdbc25;
}
.btn-yellow {
	background-color: #fdbc25;
	color: #d33920;
	border: 2px solid #041c38;
	height: 30px;
}
.btn-yellow:hover {
	background-color: #fdbc25 !important;
	color: white !important;
}
.btn-blue {
	background-color: #20609a;
	border: 2px solid #20609a;
	color: white;
}
.sign-up {
	border-radius: 100px;
}
.email-input {
	background-color: #041c38;
	border: 0px solid black;
	color: white;
	border-radius: 2px;
	width: 200px;
	height: 33px;
}
.secondsection {
	position: relative;
	top:-50px;
	margin: 0 auto;
	height: 280px;
}
.blue {
	color: #0d347f;
}
.circle {
	height:70px;
	width:70px;
	border-radius:50%;
	background-color:#fdbc25;
	text-align:center;
	line-height: 127%;
}
.center {
	text-align: center;
}
.gray {
	background-color: #ebedef;
	height: 200px;
	margin-top:50px;
}
#icecreamheadline {
	margin: 20px 0px;
}
#yellowbutton {
	background-color: #fdbc25;
	color: #c62419;
	width:250px;
	margin-bottom:20px;
}
#bluebutton {
	background-color: #1a4b87;
	color: white;
	width:250px;	
}
@media (max-width:1200px) {
	.secondsection {
		height: 180px;
		padding-top: 50px;
	}
}
@media(max-width:768px) {
	.pushleft {
		padding-left:0px
	}
	.valign {
		padding-left:0px;
	}
	.align {
		padding-right: 0px;
	}
}
@media(max-width:780px) {
	.gray { 
		height: 250px;
	}
}
